.user-container{
  display: flex;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 15px;
  height: 100px;
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.custom-icon {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgba(92, 4, 156, 0.854);
 
}
